h1 {
  position: relative;
  background-color: hsl(267, 65%, 90%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: monospace;
  padding: 1rem 0;
  width: fit-content;
  border-style: groove;
  border-width: 1rem;
  border-color: rgb(55, 23, 99);
}

h2 {
  position: relative;
}

h3 {
  position: relative;
}
